language: node_js

cache:
  directories:
  - super_cache

before_install:
- openssl aes-256-cbc -K $encrypted_f30d66757909_key -iv $encrypted_f30d66757909_iv
  -in super_secret.txt.enc -out super_cache/super_secret.txt -d

script: cat super_cache/*
